<h1>Rendr POC - OLX Browser</h1>
<p>This is a little app that demonstrates how to use Rendr by consuming SMAUG's public Api.</p>
<p>Check out the <a href="/categories?location=www.olx.com.ar&languageId=2">Categories</a></p>
